[profile.release]
debug = 1

[package]
name = "git_toprepo"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.86"
bincode = { version = "2.0.1", features = ["serde"] }
bstr = { version = "1.11.0", features = ["serde"] }
chrono = { version = "0.4.39", features = ["serde"] }
clap = { version = "4.5.8", features = ["derive", "string"] }
colored = "2.1.0"
gix = { version = "0.72.1", features = ["serde"] }
hex = "0.4.3"
indicatif = "0.17.9"
itertools = "0.13.0"
lazy_static = "1.5.0"
lru = "0.13.0"
regex = "1.10.5"
serde = { version = "1.0.214", features = ["default", "derive", "std"] }
serde_json = "1.0.140"
serde_with = { version = "3.11.0", features = ["macros"] }
sha2 = "0.10.9"
threadpool = "1.8.1"
toml = "0.8.19"
url = "2.5.2"

[dev-dependencies]
tempfile = "3.13.0"

[[bin]]
name = "git-toprepo"
path = "src/main.rs"
