name: Build and test
on:
  pull_request: {}
  push:
    branches:
      - main
  # Allow this workflow to be called from other workflows.
  workflow_call: {}
jobs:
  build-and-test:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]  # TODO: macos-latest, windows-latest
    runs-on: ${{ matrix.os }}
    env:
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v4
      # Upgrade tools before rust-cache.
      # Use nightly instead of 'stable' to get improved rustfmt features.
      - run: rustup toolchain install nightly-2025-05-16 --profile minimal
      - run: rustup component add --toolchain nightly-2025-05-16 rustfmt clippy
      - run: rustup default nightly-2025-05-16
      - uses: Swatinem/rust-cache@v2
  
      - name: Format code
        run: cargo fmt
      - name: Check for modified workspace
        run: git add . && git diff --exit-code HEAD --
      - name: Build and test
        run: ./build.sh
      - name: Check for modified workspace
        run: git add . && git diff --exit-code HEAD --

      - name: Upload artifact
        if: ${{ github.event_name == 'push' }}
        uses: "actions/upload-artifact@v4"
        with:
          name: "git-toprepo.linux_amd64"
          path: "target/release/git-toprepo"
