name: release
run-name: Release ${{ github.event.release.tag_name }}
on:
  release:
    types:
      - published

# Make sure the GITHUB_TOKEN has permission to upload to our releases.
permissions:
  contents: write

jobs:
  publish:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - { suffix: darwin-x86_64, rust_target: x86_64-apple-darwin }
          - { suffix: darwin-aarch64, rust_target: aarch64-apple-darwin }
          - { suffix: linux-x86_64, rust_target: x86_64-unknown-linux-musl }
          - { suffix: linux-aarch64, rust_target: aarch64-unknown-linux-musl }
    name: publish (${{ matrix.platform.rust_target }})
    environment: release-on-github
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Set up MacOS Cross Compiler
        if: ${{ endsWith(matrix.platform.rust_target, '-apple-darwin') }}
        uses: Timmmm/setup-osxcross@v2
        with:
          # Using the version for macos-latest.
          # https://docs.github.com/en/actions/reference/runners/github-hosted-runners#standard-github-hosted-runners-for-public-repositories
          osx-version: "15.5"

      - uses: actions/checkout@v4
      - name: Verify git hash
        shell: bash
        run: |
          set -eux
          [ "$(git rev-parse HEAD)" == "$(git rev-parse ${{ github.event.release.tag_name }})" ]
      - name: Collect build metadata
        id: build_metadata
        shell: bash
        run: |
          set -eux
          sed -n 's/channel = "\(.*\)"/rust_toolchain=\1/p' < rust-toolchain.toml >> $GITHUB_OUTPUT
          echo "scm_revision=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "scm_timestamp=$(TZ=UTC date --date "@$(git show -s --format=%ct HEAD)" +%Y%m%dT%H%M%SZ)" >> $GITHUB_OUTPUT
      - name: Build ${{ matrix.platform.rust_target }}
        uses: houseabsolute/actions-rust-cross@v1
        env:
          BUILD_SCM_TAG: ${{ github.event.release.tag_name }}
          BUILD_SCM_REVISION: ${{ steps.build_metadata.outputs.scm_revision }}
          BUILD_SCM_TIMESTAMP: ${{ steps.build_metadata.outputs.scm_timestamp }}
        with:
          command: build
          toolchain: ${{ steps.build_metadata.outputs.rust_toolchain }}
          target: ${{ matrix.platform.rust_target }}
          args: "--locked --release"
          # Keep stack traces, 12 MiB instead of 9 MiB.
          strip: false
      - name: Publish ${{ matrix.platform.rust_target }}
        shell: bash
        run: |
          set -eux
          # Make the downloaded filename the same as the link on the GitHub release page.
          mv target/${{ matrix.platform.rust_target }}/release/git-toprepo git-toprepo-${{ github.event.release.tag_name }}-${{ matrix.platform.suffix }}
          gh release upload ${{ github.event.release.tag_name }} git-toprepo-${{ github.event.release.tag_name }}-${{ matrix.platform.suffix }} --clobber
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}
